<!--
  Generated template for the ListView page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>列表展示</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <app-touch-event></app-touch-event>
  <ion-item-group>
    <ion-item-divider light>A</ion-item-divider>
    <ion-item>Angular</ion-item>
    <ion-item>Angular2</ion-item>
    <ion-item-divider light>B</ion-item-divider>
    <ion-item>Box</ion-item>
    <ion-item>Block</ion-item>
  </ion-item-group>

  <ion-list>
    <ion-list-header>Privacy</ion-list-header>
    <ion-item>Tracking</ion-item>
    <ion-item>Mouse</ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col width-50>A column</ion-col>
      <ion-col>A second column</ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-75>A new column</ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="http://yhjstatic-dev.oss-cn-shanghai.aliyuncs.com/avatar/fc75cf14-31c1-5d54-a467-5caa20d2b549.png">
      </ion-avatar>
      <h2>Woody</h2>
      <p>This town ain't big enough for the two of us!</p>
      <ion-note item-end>3:43 pm</ion-note>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-left>
          <img src="http://yhjstatic-dev.oss-cn-shanghai.aliyuncs.com/avatar/fc75cf14-31c1-5d54-a467-5caa20d2b549.png">
        </ion-avatar>
        <h2>Jack</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="text"></ion-icon>
          Text
        </button>
        <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          Call
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="http://yhjstatic-dev.oss-cn-shanghai.aliyuncs.com/avatar/fc75cf14-31c1-5d54-a467-5caa20d2b549.png">
      </ion-thumbnail>
      <h2>Lsh</h2>
      <p>good</p>
      <button ion-button item-right clear >Click</button>
    </ion-item>
  </ion-list>

</ion-content>
