.font-color-orange {
  color: #FF9B65 !important; }

.border-color-orange {
  border-color: #FF9B65 !important; }

.background-color-orange {
  background-color: #FF9B65 !important; }

.font-color-blue {
  color: #00A5DE !important; }

.border-color-blue {
  border-color: #00A5DE !important; }

.background-color-blue {
  background-color: #00A5DE !important; }

.font-color-purple {
  color: #9280E6 !important; }

.border-color-purple {
  border-color: #9280E6 !important; }

.background-color-purple {
  background-color: #9280E6 !important; }

.font-color-pink {
  color: #FF799A !important; }

.border-color-pink {
  border-color: #FF799A !important; }

.background-color-pink {
  background-color: #FF799A !important; }

.font-color-green {
  color: #00BD8F !important; }

.border-color-green {
  border-color: #00BD8F !important; }

.background-color-green {
  background-color: #00BD8F !important; }

.font-color-red {
  color: #FF585C !important; }

.border-color-red {
  border-color: #FF585C !important; }

.background-color-red {
  background-color: #FF585C !important; }

.font-color-yellow {
  color: #FFB938 !important; }

.border-color-yellow {
  border-color: #FFB938 !important; }

.background-color-yellow {
  background-color: #FFB938 !important; }

.font-color-darkBlue {
  color: #5595EA !important; }

.border-color-darkBlue {
  border-color: #5595EA !important; }

.background-color-darkBlue {
  background-color: #5595EA !important; }

.font-color-white {
  color: #fff !important; }

.border-color-white {
  border-color: #fff !important; }

.background-color-white {
  background-color: #fff !important; }

.font-color-gray {
  color: #F3F3F3 !important; }

.border-color-gray {
  border-color: #F3F3F3 !important; }

.background-color-gray {
  background-color: #F3F3F3 !important; }

.font-color-global-base, body {
  color: #333 !important; }

.font-color-global-lighter, p {
  color: #666 !important; }

.font-color-global-lightest, .projectIconMore:before {
  color: #999 !important; }

.font-color-global-link {
  color: #577FA4 !important; }

.border-color-global-base {
  border-color: #E8E8E8 !important; }

.border-color-global-heavyer {
  border-color: #d0d0d0 !important; }

.background-color-global-base {
  background-color: #dedede !important; }

.background-color-global-lighter, body {
  background-color: #eee !important; }

.border-line-top {
  border-top: 1px solid; }

.border-line-left {
  border-left: 1px solid; }

.border-line-right {
  border-right: 1px solid; }

.border-line-bottom {
  border-bottom: 1px solid; }

.border-line {
  border: 1px solid; }

a.a-with-list-border {
  display: block; }
  a.a-with-list-border > * {
    border-top: 1px solid; }
  a.a-with-list-border:first-of-type > * {
    border-top: none; }
  a.a-with-list-border.new {
    position: relative; }
    a.a-with-list-border.new:after {
      content: ' ';
      position: absolute;
      left: 1.64rem;
      top: 0.2rem;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 1rem;
      display: block;
      background-color: #FF585C; }

.h1 {
  font-size: remSize(39) !important;
  font-weight: normal !important;
  line-height: 1.2 !important;
  margin: 0 !important; }

.h2 {
  font-size: remSize(35) !important;
  font-weight: normal !important;
  line-height: 1.2 !important;
  margin: 0 !important; }

.h3, p {
  font-size: remSize(33) !important;
  font-weight: normal !important;
  line-height: 1.2 !important;
  margin: 0 !important; }

.h4 {
  font-size: remSize(29) !important;
  font-weight: normal !important;
  line-height: 1.2 !important;
  margin: 0 !important; }

.h5 {
  font-size: remSize(27) !important;
  font-weight: normal !important;
  line-height: 1.2 !important;
  margin: 0 !important; }

.h6 {
  font-size: remSize(25) !important;
  font-weight: normal !important;
  line-height: 1.2 !important;
  margin: 0 !important; }

h1 {
  font-size: remSize(39) !important;
  font-weight: normal !important;
  line-height: 1.4 !important; }

h2 {
  font-size: remSize(35) !important;
  font-weight: normal !important;
  line-height: 1.4 !important; }

h3 {
  font-size: remSize(33) !important;
  font-weight: normal !important;
  line-height: 1.4 !important; }

h4 {
  font-size: remSize(29) !important;
  font-weight: normal !important;
  line-height: 1.4 !important; }

h5 {
  font-size: remSize(27) !important;
  font-weight: normal !important;
  line-height: 1.4 !important; }

h6 {
  font-size: remSize(25) !important;
  font-weight: normal !important;
  line-height: 1.4 !important; }

.h0 {
  font-size: 0; }

p {
  line-height: 1.5; }

html {
  width: 100% !important;
  min-height: 100% !important;
  overflow-x: hidden; }

body {
  width: 100% !important;
  min-height: 100% !important;
  overflow-x: hidden; }

body > * {
  margin: 0 auto; }

* {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none; }

a, a:hover, a:link, a:visited {
  color: #577FA4; }

ul, ol, li {
  list-style: none; }

iframe {
  overflow-y: scroll;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.5; }

p {
  word-break: break-all;
  text-align: justify; }

input {
  outline: none;
  border: 0;
  background-color: transparent;
  box-shadow: none;
  -webkit-appearance: textfield;
  padding: 0;
  margin: 0; }

input::-webkit-input-placeholder, input::-moz-placeholder {
  font-size: 1em; }

.margin-xs {
  margin: 0.41667rem; }

.margin-top-xs {
  margin-top: 0.41667rem; }

.margin-bottom-xs {
  margin-bottom: 0.41667rem; }

.margin-left-xs {
  margin-left: 0.41667rem; }

.margin-right-xs {
  margin-right: 0.41667rem; }

.margin-width-xs {
  margin-right: 0.41667rem;
  margin-left: 0.41667rem; }

.margin-height-xs {
  margin-top: 0.41667rem;
  margin-bottom: 0.41667rem; }

.margin-re-width-xs {
  margin-right: -0.41667rem;
  margin-left: -0.41667rem; }

.margin-re-height-xs {
  margin-top: -0.41667rem;
  margin-bottom: -0.41667rem; }

.margin-re-bottom-xs {
  margin-bottom: -0.41667rem; }

.margin-re-left-xs {
  margin-left: -0.41667rem; }

.margin-re-right-xs {
  margin-right: -0.41667rem; }

.margin-re-top-xs {
  margin-top: -0.41667rem; }

.margin-sm {
  margin: 0.83333rem; }

.margin-top-sm {
  margin-top: 0.83333rem; }

.margin-bottom-sm {
  margin-bottom: 0.83333rem; }

.margin-left-sm {
  margin-left: 0.83333rem; }

.margin-right-sm {
  margin-right: 0.83333rem; }

.margin-width-sm {
  margin-right: 0.83333rem;
  margin-left: 0.83333rem; }

.margin-height-sm {
  margin-top: 0.83333rem;
  margin-bottom: 0.83333rem; }

.margin-re-width-sm {
  margin-right: -0.83333rem;
  margin-left: -0.83333rem; }

.margin-re-height-sm {
  margin-top: -0.83333rem;
  margin-bottom: -0.83333rem; }

.margin-re-bottom-sm {
  margin-bottom: -0.83333rem; }

.margin-re-left-sm {
  margin-left: -0.83333rem; }

.margin-re-right-sm {
  margin-right: -0.83333rem; }

.margin-re-top-sm {
  margin-top: -0.83333rem; }

.margin-md {
  margin: 1.25rem; }

.margin-top-md {
  margin-top: 1.25rem; }

.margin-bottom-md {
  margin-bottom: 1.25rem; }

.margin-left-md {
  margin-left: 1.25rem; }

.margin-right-md {
  margin-right: 1.25rem; }

.margin-width-md {
  margin-right: 1.25rem;
  margin-left: 1.25rem; }

.margin-height-md {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }

.margin-re-width-md {
  margin-right: -1.25rem;
  margin-left: -1.25rem; }

.margin-re-height-md {
  margin-top: -1.25rem;
  margin-bottom: -1.25rem; }

.margin-re-bottom-md {
  margin-bottom: -1.25rem; }

.margin-re-left-md {
  margin-left: -1.25rem; }

.margin-re-right-md {
  margin-right: -1.25rem; }

.margin-re-top-md {
  margin-top: -1.25rem; }

.margin-lg {
  margin: 1.66667rem; }

.margin-top-lg {
  margin-top: 1.66667rem; }

.margin-bottom-lg {
  margin-bottom: 1.66667rem; }

.margin-left-lg {
  margin-left: 1.66667rem; }

.margin-right-lg {
  margin-right: 1.66667rem; }

.margin-width-lg {
  margin-right: 1.66667rem;
  margin-left: 1.66667rem; }

.margin-height-lg {
  margin-top: 1.66667rem;
  margin-bottom: 1.66667rem; }

.margin-re-width-lg {
  margin-right: -1.66667rem;
  margin-left: -1.66667rem; }

.margin-re-height-lg {
  margin-top: -1.66667rem;
  margin-bottom: -1.66667rem; }

.margin-re-bottom-lg {
  margin-bottom: -1.66667rem; }

.margin-re-left-lg {
  margin-left: -1.66667rem; }

.margin-re-right-lg {
  margin-right: -1.66667rem; }

.margin-re-top-lg {
  margin-top: -1.66667rem; }

.padding-xs {
  padding: 0.41667rem; }

.padding-top-xs {
  padding-top: 0.41667rem; }

.padding-bottom-xs {
  padding-bottom: 0.41667rem; }

.padding-left-xs {
  padding-left: 0.41667rem; }

.padding-right-xs {
  padding-right: 0.41667rem; }

.padding-width-xs {
  padding-right: 0.41667rem;
  padding-left: 0.41667rem; }

.padding-height-xs {
  padding-top: 0.41667rem;
  padding-bottom: 0.41667rem; }

.padding-sm {
  padding: 0.83333rem; }

.padding-top-sm {
  padding-top: 0.83333rem; }

.padding-bottom-sm {
  padding-bottom: 0.83333rem; }

.padding-left-sm {
  padding-left: 0.83333rem; }

.padding-right-sm {
  padding-right: 0.83333rem; }

.padding-width-sm {
  padding-right: 0.83333rem;
  padding-left: 0.83333rem; }

.padding-height-sm {
  padding-top: 0.83333rem;
  padding-bottom: 0.83333rem; }

.padding-md {
  padding: 1.25rem; }

.padding-top-md {
  padding-top: 1.25rem; }

.padding-bottom-md {
  padding-bottom: 1.25rem; }

.padding-left-md {
  padding-left: 1.25rem; }

.padding-right-md {
  padding-right: 1.25rem; }

.padding-width-md {
  padding-right: 1.25rem;
  padding-left: 1.25rem; }

.padding-height-md {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

.padding-lg {
  padding: 1.66667rem; }

.padding-top-lg {
  padding-top: 1.66667rem; }

.padding-bottom-lg {
  padding-bottom: 1.66667rem; }

.padding-left-lg {
  padding-left: 1.66667rem; }

.padding-right-lg {
  padding-right: 1.66667rem; }

.padding-width-lg {
  padding-right: 1.66667rem;
  padding-left: 1.66667rem; }

.padding-height-lg {
  padding-top: 1.66667rem;
  padding-bottom: 1.66667rem; }

.radius-xs {
  border-radius: 0.08333rem; }

.radius-sm {
  border-radius: 0.16667rem; }

.radius-md {
  border-radius: 0.33333rem; }

.radius-lg {
  border-radius: 0.66667rem; }

.radius-full {
  border-radius: 2730.625rem; }

.with-img-square-xs-xs {
  width: 12rem; }

.with-img-square-xs-sm {
  width: 10.75rem; }

.with-img-square-xs-md {
  width: 9.5rem; }

.with-img-square-xs-lg {
  width: 8.25rem; }

.img-width-square-xs, .img-square-xs {
  width: 2.75rem;
  display: block; }

.img-height-square-xs, .img-square-xs {
  height: 2.75rem;
  line-height: 2.75rem;
  display: block; }

.img-square-xs {
  display: block; }

.with-img-oblong-xs-xs {
  width: 10.625rem; }

.with-img-oblong-xs-sm {
  width: 9.375rem; }

.with-img-oblong-xs-md {
  width: 8.125rem; }

.with-img-oblong-xs-lg {
  width: 6.875rem; }

.img-width-oblong-xs, .img-oblong-xs {
  width: 4.125rem;
  display: block; }

.img-height-oblong-xs, .img-oblong-xs {
  height: 2.75rem;
  line-height: 2.75rem;
  display: block; }

.img-oblong-xs {
  display: block; }

.with-img-banner-xs-xs {
  width: 6.81731rem; }

.with-img-banner-xs-sm {
  width: 5.56731rem; }

.with-img-banner-xs-md {
  width: 4.31731rem; }

.with-img-banner-xs-lg {
  width: 3.06731rem; }

.img-width-banner-xs, .img-banner-xs {
  width: 7.93269rem;
  display: block; }

.img-height-banner-xs, .img-banner-xs {
  height: 2.75rem;
  line-height: 2.75rem;
  display: block; }

.img-banner-xs {
  display: block; }

.with-img-square-sm-xs {
  width: 11.41667rem; }

.with-img-square-sm-sm {
  width: 10.16667rem; }

.with-img-square-sm-md {
  width: 8.91667rem; }

.with-img-square-sm-lg {
  width: 7.66667rem; }

.img-width-square-sm, .img-square-sm {
  width: 3.33333rem;
  display: block; }

.img-height-square-sm, .img-square-sm {
  height: 3.33333rem;
  line-height: 3.33333rem;
  display: block; }

.img-square-sm {
  display: block; }

.with-img-oblong-sm-xs {
  width: 9.75rem; }

.with-img-oblong-sm-sm {
  width: 8.5rem; }

.with-img-oblong-sm-md {
  width: 7.25rem; }

.with-img-oblong-sm-lg {
  width: 6rem; }

.img-width-oblong-sm, .img-oblong-sm {
  width: 5rem;
  display: block; }

.img-height-oblong-sm, .img-oblong-sm {
  height: 3.33333rem;
  line-height: 3.33333rem;
  display: block; }

.img-oblong-sm {
  display: block; }

.with-img-banner-sm-xs {
  width: 5.13462rem; }

.with-img-banner-sm-sm {
  width: 3.88462rem; }

.with-img-banner-sm-md {
  width: 2.63462rem; }

.with-img-banner-sm-lg {
  width: 1.38462rem; }

.img-width-banner-sm, .img-banner-sm {
  width: 9.61538rem;
  display: block; }

.img-height-banner-sm, .img-banner-sm {
  height: 3.33333rem;
  line-height: 3.33333rem;
  display: block; }

.img-banner-sm {
  display: block; }

.with-img-square-md-xs {
  width: 10.58333rem; }

.with-img-square-md-sm {
  width: 9.33333rem; }

.with-img-square-md-md {
  width: 8.08333rem; }

.with-img-square-md-lg {
  width: 6.83333rem; }

.img-width-square-md, .img-square-md {
  width: 4.16667rem;
  display: block; }

.img-height-square-md, .img-square-md {
  height: 4.16667rem;
  line-height: 4.16667rem;
  display: block; }

.img-square-md {
  display: block; }

.with-img-oblong-md-xs {
  width: 8.5rem; }

.with-img-oblong-md-sm {
  width: 7.25rem; }

.with-img-oblong-md-md {
  width: 6rem; }

.with-img-oblong-md-lg {
  width: 4.75rem; }

.img-width-oblong-md, .img-oblong-md {
  width: 6.25rem;
  display: block; }

.img-height-oblong-md, .img-oblong-md {
  height: 4.16667rem;
  line-height: 4.16667rem;
  display: block; }

.img-oblong-md {
  display: block; }

.with-img-banner-md-xs {
  width: 2.73077rem; }

.with-img-banner-md-sm {
  width: 1.48077rem; }

.with-img-banner-md-md {
  width: 0.23077rem; }

.with-img-banner-md-lg {
  width: -1.01923rem; }

.img-width-banner-md, .img-banner-md {
  width: 12.01923rem;
  display: block; }

.img-height-banner-md, .img-banner-md {
  height: 4.16667rem;
  line-height: 4.16667rem;
  display: block; }

.img-banner-md {
  display: block; }

.with-img-square-lg-xs {
  width: 9.75rem; }

.with-img-square-lg-sm {
  width: 8.5rem; }

.with-img-square-lg-md {
  width: 7.25rem; }

.with-img-square-lg-lg {
  width: 6rem; }

.img-width-square-lg, .img-square-lg {
  width: 5rem;
  display: block; }

.img-height-square-lg, .img-square-lg {
  height: 5rem;
  line-height: 5rem;
  display: block; }

.img-square-lg {
  display: block; }

.with-img-oblong-lg-xs {
  width: 7.25rem; }

.with-img-oblong-lg-sm {
  width: 6rem; }

.with-img-oblong-lg-md {
  width: 4.75rem; }

.with-img-oblong-lg-lg {
  width: 3.5rem; }

.img-width-oblong-lg, .img-oblong-lg {
  width: 7.5rem;
  display: block; }

.img-height-oblong-lg, .img-oblong-lg {
  height: 5rem;
  line-height: 5rem;
  display: block; }

.img-oblong-lg {
  display: block; }

.with-img-banner-lg-xs {
  width: 0.32692rem; }

.with-img-banner-lg-sm {
  width: -0.92308rem; }

.with-img-banner-lg-md {
  width: -2.17308rem; }

.with-img-banner-lg-lg {
  width: -3.42308rem; }

.img-width-banner-lg, .img-banner-lg {
  width: 14.42308rem;
  display: block; }

.img-height-banner-lg, .img-banner-lg {
  height: 5rem;
  line-height: 5rem;
  display: block; }

.img-banner-lg {
  display: block; }

.projectIcon, .projectIconMore:before, .iconfontProject {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif, projectIcon; }

.iconfont {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif, iconfont; }

.projectIconMore {
  position: relative; }
  .projectIconMore:before {
    position: absolute;
    display: table-row;
    text-align: right;
    content: '\e600';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 1.25rem; }

.with-iconfont-xs-xs {
  width: 13.6875rem; }

.with-iconfont-R-xs-xs {
  width: 13.02875rem; }

.with-iconfont-xs-sm {
  width: 12.4375rem; }

.with-iconfont-R-xs-sm {
  width: 11.77875rem; }

.with-iconfont-xs-md {
  width: 11.1875rem; }

.with-iconfont-R-xs-md {
  width: 10.52875rem; }

.with-iconfont-xs-lg {
  width: 9.9375rem; }

.with-iconfont-R-xs-lg {
  width: 9.27875rem; }

.iconfont-xs {
  font-size: 0.70833rem; }

.iconfont-R-height-xs {
  height: 1.1475rem;
  line-height: 1.1475rem; }

.iconfont-R-width-xs {
  width: 1.1475rem; }

.iconfont-height-xs {
  height: 0.70833rem;
  line-height: 0.70833rem; }

.iconfont-width-xs {
  width: 0.70833rem; }

.with-iconfont-sm-xs {
  width: 12.75rem; }

.with-iconfont-R-sm-xs {
  width: 11.51rem; }

.with-iconfont-sm-sm {
  width: 11.5rem; }

.with-iconfont-R-sm-sm {
  width: 10.26rem; }

.with-iconfont-sm-md {
  width: 10.25rem; }

.with-iconfont-R-sm-md {
  width: 9.01rem; }

.with-iconfont-sm-lg {
  width: 9rem; }

.with-iconfont-R-sm-lg {
  width: 7.76rem; }

.iconfont-sm {
  font-size: 1.33333rem; }

.iconfont-R-height-sm {
  height: 2.16rem;
  line-height: 2.16rem; }

.iconfont-R-width-sm {
  width: 2.16rem; }

.iconfont-height-sm {
  height: 1.33333rem;
  line-height: 1.33333rem; }

.iconfont-width-sm {
  width: 1.33333rem; }

.with-iconfont-md-xs {
  width: 11.8125rem; }

.with-iconfont-R-md-xs {
  width: 9.99125rem; }

.with-iconfont-md-sm {
  width: 10.5625rem; }

.with-iconfont-R-md-sm {
  width: 8.74125rem; }

.with-iconfont-md-md {
  width: 9.3125rem; }

.with-iconfont-R-md-md {
  width: 7.49125rem; }

.with-iconfont-md-lg {
  width: 8.0625rem; }

.with-iconfont-R-md-lg {
  width: 6.24125rem; }

.iconfont-md {
  font-size: 1.95833rem; }

.iconfont-R-height-md {
  height: 3.1725rem;
  line-height: 3.1725rem; }

.iconfont-R-width-md {
  width: 3.1725rem; }

.iconfont-height-md {
  height: 1.95833rem;
  line-height: 1.95833rem; }

.iconfont-width-md {
  width: 1.95833rem; }

.with-iconfont-lg-xs {
  width: 10.875rem; }

.with-iconfont-R-lg-xs {
  width: 8.4725rem; }

.with-iconfont-lg-sm {
  width: 9.625rem; }

.with-iconfont-R-lg-sm {
  width: 7.2225rem; }

.with-iconfont-lg-md {
  width: 8.375rem; }

.with-iconfont-R-lg-md {
  width: 5.9725rem; }

.with-iconfont-lg-lg {
  width: 7.125rem; }

.with-iconfont-R-lg-lg {
  width: 4.7225rem; }

.iconfont-lg {
  font-size: 2.58333rem; }

.iconfont-R-height-lg {
  height: 4.185rem;
  line-height: 4.185rem; }

.iconfont-R-width-lg {
  width: 4.185rem; }

.iconfont-height-lg {
  height: 2.58333rem;
  line-height: 2.58333rem; }

.iconfont-width-lg {
  width: 2.58333rem; }

.with-iconfont-xl-xs {
  width: 9.4375rem; }

.with-iconfont-R-xl-xs {
  width: 6.14375rem; }

.with-iconfont-xl-sm {
  width: 8.1875rem; }

.with-iconfont-R-xl-sm {
  width: 4.89375rem; }

.with-iconfont-xl-md {
  width: 6.9375rem; }

.with-iconfont-R-xl-md {
  width: 3.64375rem; }

.with-iconfont-xl-lg {
  width: 5.6875rem; }

.with-iconfont-R-xl-lg {
  width: 2.39375rem; }

.iconfont-xl {
  font-size: 3.54167rem; }

.iconfont-R-height-xl {
  height: 5.7375rem;
  line-height: 5.7375rem; }

.iconfont-R-width-xl {
  width: 5.7375rem; }

.iconfont-height-xl {
  height: 3.54167rem;
  line-height: 3.54167rem; }

.iconfont-width-xl {
  width: 3.54167rem; }

.with-iconfont-full-xs {
  width: -32.125rem; }

.with-iconfont-R-full-xs {
  width: -61.1875rem; }

.with-iconfont-full-sm {
  width: -33.375rem; }

.with-iconfont-R-full-sm {
  width: -62.4375rem; }

.with-iconfont-full-md {
  width: -34.625rem; }

.with-iconfont-R-full-md {
  width: -63.6875rem; }

.with-iconfont-full-lg {
  width: -35.875rem; }

.with-iconfont-R-full-lg {
  width: -64.9375rem; }

.iconfont-full {
  font-size: 31.25rem; }

.iconfont-R-height-full {
  height: 50.625rem;
  line-height: 50.625rem; }

.iconfont-R-width-full {
  width: 50.625rem; }

.iconfont-height-full {
  height: 31.25rem;
  line-height: 31.25rem; }

.iconfont-width-full {
  width: 31.25rem; }

.iconfont-R {
  display: inline-block;
  line-height: 1em;
  border-radius: 16rem;
  padding: 0.31em; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.align-inline-1 {
  width: 99%; }

.align-inline-2 {
  width: 49%; }

.align-inline-3 {
  width: 32%; }

.align-inline-4 {
  width: 23.5%; }

.align-inline-5 {
  width: 19%; }

.align-inline-1, .align-inline-2, .align-inline-3, .align-inline-4, .align-inline-5 {
  box-sizing: border-box;
  display: inline-block; }

.inline-block {
  display: inline-block; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.fullPageContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%; }

.clear-float:after {
  content: ' ';
  display: block;
  clear: both;
  height: 0;
  width: 0; }

/*# sourceMappingURL=base.css.map */
